header{
    
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    background: rgb(23,252,146);
    background: linear-gradient(93deg, rgba(23,252,146,1) 0%, rgba(41,90,132,1) 25%, rgba(113,24,91,1) 40%, rgba(255,109,114,1) 60%, rgba(244,195,7,1) 75%, rgba(23,252,146,1) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-size: 300%; 
    animation: color 15s linear infinite;   
    margin-bottom: 0;
}

.title-container{
    height: 100%;
    width: 400px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
p{
    color: white;
}

.spaceman-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
    overflow: hidden;
    
}
.spaceman{
    height: 100%;
    animation: movement 10s linear infinite;
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

@keyframes movement {
    0% {
        transform: translate(0, 20px);
        
    }
    20% {
        transform: translate(0, 0);
    }
    40% {
        
        transform: rotate(-15deg);
    }
    60% {
        transform: translate(0, 20px);

    }
    80%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
        transform: translate(0, 20px);
    }
}