{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ff013c">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0F161E">
    <meta name="theme-color"  content="#036BA9">
    <meta name="description" 
    content="Soy un desarrollador Web ubicado en la Ciudad de México, cuento con más de 2 años de experiencia en FrontEnd y BackEnd. 
    Las tecnologías que más uso en mi día a día son: Django, React, HTML5, CSS3, SQL." />
    <link rel="icon" href="{% static 'logo.ico' %}" sizes="60x60" />
    <link rel="apple-touch-icon" sizes="60*60" href="{% static 'logo.png' %}">
    <title>Sebastián de la Rosa</title>
    <link rel="stylesheet" href="{% static 'web/css/layout.css' %}">
    {% block styles %}
    {% endblock %}
    {% block script %}
    {% endblock %}
    <script src="{% static 'web/js/principal.js' %}"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="theme-color"  content="#FF013C">
    <meta name="description" content="Web developer en CDMX con conocimientos en Django, JavaScript, React, HTML5, CSS3. Apasionado con aprender y dar lo mejor de si mismo todos los días" />
    <link rel="manifest" href="{% static 'web/js/manifest.json'%}" />
</head>
<body>
    <div class="home_social">
        <a href="https://github.com/Sebitass47" target="_blank" class="home_social-link">
            <i class='bx bxl-github'></i>
        </a>

        <a href="https://www.linkedin.com/in/sebasti%C3%A1n-mart%C3%ADnez-de-la-rosa-149243237/" target="_blank" class="home_social-link">
            <i class='bx bxl-linkedin' ></i>
        </a>
        
        <a href="https://www.youtube.com/channel/UCQdL9xktiTa0Oc3VAe2OLSQ" target="_blank" class="home_social-link">
            <i class='bx bxl-youtube' ></i>
        </a>

    </div>
    </div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    

    <footer>
        <div class="footer-container">
            <span class="home_contact-name"><h3>Construido por <span class="footer" onclick="up()">Sebastián Martínez de la Rosa</span></h3></p>
        </div>
    </footer>
</body>
</html>