<html>
    <head>
      
    </head>
    <body>
        <div class="container">
            <h2>Thanks for writing! </h2>
            <p>
                Dear {{ name }}:<br>
                I appreciate you visiting my website, I hope you enjoyed it! Thank you for contacting me, 
                I will send you a personal message shortly. If in 48 hours you have not received anything yet, 
                here is my personal email in case you want to contact me. 
                
            </p>

            <p>
                <strong>Email:</strong> smdlr47@hotmail.com
            </p>
            
            <p>
                <h3>Your message was:</h3>
            </p>
            <p>
                <strong>Subject:</strong> {{ subject }}<br>
                <strong>Message:</strong> {{ message }}
            </p>
        </div>
    </body>
</html>